<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2014 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<!-- version code and name should be the same for smartphone and watch apps -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iss.android.wearable.datalayer"
    android:versionCode="22"
    android:versionName="Regulus 22" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- the smartphone app needs to have all of the permissions of wear app -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- for some reason reading internal storage permission breaks installation on Google play ... -->
    <!--
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- the smartphone app needs to have all of the permissions of wear app -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".Alarm"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.iss.android.wearable.datalayer.ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StartMyActivityAtBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".DataLayerListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.iss.android.wearable.datalayer.EXAMPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceScanActivity"
            android:enabled="true"
            android:label="hello" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.iss.android.wearable.datalayer.EXAMPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".SensorsDataService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SelectRPE"
            android:label="@string/title_activity_select_rpe" />
        <activity
            android:name=".DALDActivity"
            android:label="@string/title_activity_dald" >
        </activity>
        <activity
            android:name=".TrainingStartTimeActivity"
            android:label="@string/title_activity_training_start_time" >
        </activity>
    </application>

</manifest>
